@import 'tailwindcss';

@theme {
  --color-blue-950: #10141e;
  --color-blue-900: #161d2f;
  --color-blue-500: #5a698f;
  --color-red-500: #fc4747;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.p1 {
  @apply text-[20px] leading-[125%] tracking-[-0.3px] md:text-[32px] md:leading-[125%] md:tracking-[-0.5px] md:font-normal;
}

.p2-med {
  @apply text-[16px] md:text-[24px] leading-[125%] tracking-normal font-normal md:font-medium;
}

.p2-light {
  @apply text-[16px] md:text-[24px] leading-[125%] tracking-normal font-normal;
}

.p3 {
  @apply text-[15px] md:text-[18px] leading-[125%] tracking-normal font-medium;
}

.p4 {
  @apply text-[14px] md:text-[15px] leading-[125%] tracking-normal font-medium md:font-normal;
}

.p5 {
  @apply text-[12px] md:text-[13px] leading-[125%] tracking-normal font-normal;
}

.p6 {
  @apply text-[11px] leading-[125%] tracking-normal font-normal;
}
